* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  background-color: #1b1b32;
  font-family: lato, sans-serif;
  margin-top: 10px;  
}

h1 {
  color: #1b1b32;
  font-size: 20px;
  font-family: roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
  user-select: none;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*LOGO*/

.freecodecamp-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo {
  width: 300px;
  height: 200px;
}

/*LISTA */

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}